

.vertical-text {
    transform: rotate(-90deg);
    transform-origin: right center 0;
    color: purple;
}

ul.ulVertNav {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    width: 100px;
    color: #691b1c;
    background-color: #f1f1f1;
    border: 1px solid #691b1c;
}

li.label {
    display: block;
    border-bottom: 1px solid #691b1c;
    text-align: center;
    padding: 8px 16px;
    font-size: x-large;
    font-weight: bold;
    background-color: #691b1c;
    color: #c98905;
}

li.liVertNav a {
    display: block;
    color: #691b1c;
    padding: 8px 16px;
    text-decoration: none;
}

li.liVertNav {
    border-bottom: 1px solid #691b1c;
    text-align: center;
}

li.liVertNav:last-child {
    border-bottom: none;
}

li.liVertNav a.active {
    background-color: #691b1c;
    color: #c98905;
}

li.liVertNav a:hover:not(.active) {
    background-color: #000;
    color: #c98905;
}

.button {
    background-color: white;
}