/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/


.bg {
  background: url("./images/gear.png") no-repeat center center;
  /*background: url("./images/madmaxcut.jpg") no-repeat center center;*/
  /*background: url("./images/madmax.jpg") no-repeat center center;*/
  /*background: url("./images/chickendinner.jpg") no-repeat center center;*/
  /*background: url("./images/sunset.jpg") no-repeat center center;*/
  -webkit-background-size: cover;
  background-size: cover;
  height: 92vh;
  /*order: 2px solid black;*/
}

.header {
  /*background: url("./images/gear.png") no-repeat center center;*/
  /*background: url("./images/madmaxcut.jpg") no-repeat center center;*/
  background: url("./images/madmax.jpg") no-repeat top;
  /*background: url("./images/chickendinner.jpg") no-repeat center center;*/
  /*background: url("./images/sunset.jpg") no-repeat center center;*/
  height: 60vh;
  background-size: cover;
}

.header h5 {
  color: #3c1a1a;
}


.column {
  float: left;
  padding: 20px 8px;
}

/* Left and right column */
.column.left {
  width: 18%;
}

.column.right {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

footer {
  height: 5vh;
  color: whitesmoke;
}
