.bg {
  background: url("./images/gearCut.png") no-repeat center top;
  /*background: url("./images/madmaxcut.jpg") no-repeat center center;*/
  /*background: url("./images/madmax.jpg") no-repeat center center;*/
  /*background: url("./images/chickendinner.jpg") no-repeat center center;*/
  /*background: url("./images/sunset.jpg") no-repeat cente  r center;*/
  -webkit-background-size: cover;
  background-size: cover;
  height: 60vh;
  border-bottom: 2px solid black;
}

.header {
  /*background: url("./images/gear.png") no-repeat center center;*/
  /*background: url("./images/madmaxcut.jpg") no-repeat center center;*/
  background: url("./images/madmax.jpg") no-repeat top;
  /*background: url("./images/chickendinner.jpg") no-repeat center center;*/
  /*background: url("./images/sunset.jpg") no-repeat center center;*/
  height: 60vh;
  background-size: cover;
}

.header h5 {
  color: #3c1a1a;
}

.cunyStats2 {
  background: url("./images/cuny2x.png") right;
  background-size: auto;
  flex-direction: row-reverse;
}
